/* Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Main colour theme and styling for web app */
:root {
  --primary-color-delft-blue: #313D5A; /* Delft Blue */
  --secondary-color-pomp-and-power: #73628A; /* Pomp and Power */
  --accent-color-periwinkle: #CBC5EA; /* Periwinkle */
  --background-color-gunmetal: #183642ff; /* Gunmetal */
  --text-color-platinum: #eaeaeaff; /* Platinum */
}

body {
  font-family: 'Noto Sans', sans-serif;
  background-color: var(--background-color-gunmetal);
  color: var(--text-color-platinum);
  margin: 0;
  padding: 20px;
}
